* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

// gap
.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.w-50 {
  width: 50% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.h-screen {
  height: 100vh;
}

.h-auto {
  height: auto !important;
}

// padding
.p-40 {
  padding: 40px;
}

// margin
.mt-16 {
  margin-top: 16px;
}

.mt-36 {
  margin-top: 36px !important;
}

.rounded-none {
  border-radius: 0 !important;
}